# Ignore Gradle project-specific cache directory
.gradle
gradle/

# Ignore Gradle build output directory
build

# Intellij files
.idea/

# Package Files #
*.jar
*.war
*.ear

# Java class files
*.class

*.iws